<div class="mx-6">
  <div class="sticky-searchbar bg-liquid-glass bg-green-dark/10">
    <div class="max-w-5xl mx-auto flex max-md:flex-col max-md:items-stretch justify-center items-center gap-2">
      <input type="search" placeholder="Rolle suchen..." class="input-field max-md:w-full max-md:max-w-none" (input)="onSearch($any($event.target).value)">
      <button (click)="openAddRole()" type="button" class="button-green-add max-md:w-full max-md:max-w-none">Rolle hinzufügen</button>
    </div>
  </div>
  <div class="card-grid">
    @for (r of filteredRoles; track r.id){
      <div class="card">
        <div class="card-header">
          <p class="card-name">{{ r.roleName }}</p>
          <img class="icon-button" (click)="openRoleEdit(r)" ngSrc="/icons/edit-white.png" alt="edit" width="36" height="36">
        </div>
      </div>
    }
  </div>
  @if (filteredRoles.length === 0) {
    <div class="mt-4 text-sm text-center text-gray-500">Keine Rollen gefunden.</div>

  }

  @if (isEditMode) {
    <app-role-edit [role]="selectedRole" (closeRoleEdit)="closeRoleEdit()"></app-role-edit>
  } @else if (isAddMode){
    <app-role-add [roleName]="searchTerm" (close)="closeAddRole()"></app-role-add>
  }

</div>

