<div class="mx-6">
  <div class="sticky-searchbar bg-liquid-glass bg-green-dark/10 ">
    <div class="max-w-5xl mx-auto flex max-md:flex-col max-md:items-stretch justify-center items-center gap-2">
      <input type="search" placeholder="Rolle suchen..." class="input-field-frameless max-md:w-full max-md:max-w-none" (input)="onSearch($any($event.target).value)">
    </div>
  </div>
  <div class="card-grid">
    @for (r of filteredRoles; track r.id) {
      <div class="card" (click)="testFeedback(r.roleName)">
        <div class="card-header">
          <p class="card-name">{{ r.roleName }}</p>
        </div>
        <p class="card-description">{{r.description}}</p>
      </div>
    }
  </div>
  @if (filteredRoles.length === 0){
    <div class="mt-4 text-sm text-center text-gray-500">Keine Rollen gefunden.</div>
  }
</div>
