<div class="fixed top-0 left-0 w-full z-50 hover:scale-y-102 transition-all">
  <a routerLink="/profil"
     class="duration-100 transition-opacity mr-0 md:mr-3 fixed top-2 right-2 flex items-center justify-center w-9 h-9 rounded-full bg-green-base text-white text-sm font-semibold hover:bg-green-light z-50">
    {{ userInitials }}
  </a>
  <!-- MOBILE NAV -->
   <nav class="inline-flex rounded-md m-2  md:hidden"
       (mouseover)="isMenuOpen=true"
       (mouseleave)="isMenuOpen=false"
       (click)="!isMenuOpen && (isMenuOpen = true)">

  <div class="">
    <div class="bg-green-darkest rounded-md px-4 py-3 space-y-1 w-min text-sm font-medium cursor-pointer">
      <svg width="20" height="20" viewBox="0 0 224 224" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M28 112H196M28 56H196M28 168H196" stroke="#F3F3F3" stroke-width="15" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </div>
    @if (isMenuOpen){
      <div @fadeInOut class="bg-green-darkest/10 bg-liquid-glass rounded-md mt-1 flex-col space-y-1 px-2 py-2 flex">
        @if (isEmployee()) {
          <a (click)="$event.stopPropagation(); closeMenu()"
             routerLink="/emp-home" routerLinkActive="bg-green-base text-white" class="menu-item-big">Dashboard</a>
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/calendar"
             routerLinkActive="bg-green-base text-white"
             class="menu-item-big"
          >Kalender</a>
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/emp-shift-overview"
             routerLinkActive="bg-green-base text-white"
             class="menu-item-big">Schichtübersicht</a>
        }
        @if (isAdmin()) {
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/home"
             routerLinkActive="bg-green-base text-white" class="menu-item-big">Dashboard</a>
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/calendar"
             routerLinkActive="bg-green-base text-white"
             class="menu-item-big">Kalender</a>
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/emp-shift-overview"
             routerLinkActive="bg-green-base text-white"
             class="menu-item-big">Schichtübersicht</a>
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/team"
             routerLinkActive="bg-green-base text-white" class="menu-item-big">Team</a>
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/role-list"
             routerLinkActive="bg-green-base text-white"
             class="menu-item-big">Rollen</a>
          <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/shift-template-list"
             routerLinkActive="bg-green-base text-white"
             class="menu-item-big">Schichtvorlagen</a>
        }
        <a (click)="$event.stopPropagation(); closeMenu()" routerLink="/wiki"
           routerLinkActive="bg-green-base text-white" class="menu-item-big"
        >Wiki</a>
      </div>
    }
  </div>

  </nav>

  <!-- DESKTOP NAV -->
  <nav class="bg-green-darkest/10 bg-liquid-glass w-full shadow-md hidden md:flex justify-center">
    <div class="flex flex-row space-x-4 items-center py-2 text-black">
      @if (isEmployee()) {
        <a routerLink="/emp-home" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Dashboard</a>
        <a routerLink="/shift-overview" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Schichtübersicht</a>
        <a routerLink="/calendar" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Kalender</a>
      }@if (isAdmin()) {
        <a routerLink="/home" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Dashboard</a>
        <a routerLink="/calendar" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Kalender</a>
        <a routerLink="/shift-overview" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Schichtübersicht</a>
        <a routerLink="/team" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Team</a>
        <a routerLink="/role-list" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Rollen</a>
        <a routerLink="/shift-template-list" routerLinkActive="bg-green-base text-white" class="menu-item-big" (click)="closeMenu()">Schichtvorlagen</a>
      }
      <a routerLink="/wiki" routerLinkActive="bg-green-base text-white" class="menu-item-big"
         (click)="closeMenu()">Wiki</a>
    </div>
  </nav>
</div>
