<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="h-10/12 flex flex-col overflow-y-auto overflow-x-hidden">
  <div class="mx-8 my-4 max-md:mt-0 shrink-0">
    <h1>Willkommen {{userName}}</h1>
  </div>
  <div class="md:flex mx-4 my-2 gap-5 h-min">
    <div class="flex-1/2 mb-3 max-md:flex-2/5 card-center bg-glass h-[50vh] md:h-[66.667vh] overflow-hidden">
      <div class="h-full w-full overflow-y-auto">
        <app-employee-shift-overview></app-employee-shift-overview>
      </div>
    </div>
    <div class="flex-1/2 mb-3 md:flex-3/5 card-center bg-glass">
      <app-employee-calendar (openShiftView)="openShiftViewWithId($event.id)" [initialView]="'listMonth'" [isAllowedToEdit]="false"  class="flex-1 min-h-0"></app-employee-calendar>
    </div>
  </div>

</div>
<div *ngIf="isViewMode">
  <app-shift-view [shiftId]="selectedShift.id" (closeShiftView)="closeShiftView()"></app-shift-view>
</div>
