<div class="w-full flex flex-col items-center py-16 space-y-10">

  <h2 class="text-3xl font-semibold mb-16">Unser Team</h2>

  <div class="w-full max-w-6xl grid grid-cols-1 md:grid-cols-3 gap-10 px-6">
    <div class="team-card group relative bg-white rounded-2xl p-8 flex flex-col items-center text-center shadow-sm hover:shadow-xl transition-all duration-700 hover:-translate-y-2 opacity-0 translate-x-20">

      <div class="absolute inset-0 rounded-2xl bg-gradient-to-br from-green-light/30 to-green-base/20 opacity-0 group-hover:opacity-100 transition duration-500"></div>

      <img src="./about-us/Klement.jpg"
           class="relative w-60 h-60 object-cover mb-5 border-4 border-white shadow-md"
           alt="klement">

      <h3 class="relative text-lg font-semibold text-green-darkest">Tobias Klement</h3>
      <p class="relative text-gray-500 text-sm mt-1">Team Lead · Frontend Developer</p>
      <a href="mailto:t.klement@students.htl-leonding.ac.at" class="relative mt-4 text-sm font-medium text-green-base hover:text-green-darkest transition">Kontakt per Mail</a>
    </div>

    <div class="team-card group relative bg-white rounded-2xl p-8 flex flex-col items-center text-center shadow-sm hover:shadow-xl transition-all duration-700 hover:-translate-y-2 opacity-0 translate-x-20" data-delay="150">
      <div class="absolute inset-0 rounded-2xl bg-gradient-to-br from-green-light/30 to-green-base/20 opacity-0 group-hover:opacity-100 transition duration-500"></div>
      <img src="./about-us/Hahn.jpg"
           class="relative w-60 h-60 object-cover mb-5 border-4 border-white shadow-md"
           alt="hahn">

      <h3 class="relative text-lg font-semibold text-green-darkest">Alexander Hahn</h3>
      <p class="relative text-gray-500 text-sm mt-1">Frontend · iOS Developer</p>
      <a href="mailto:a.hahn@students.htl-leonding.ac.at" class="relative mt-4 text-sm font-medium text-green-base hover:text-green-darkest transition">Kontakt per Mail</a>
    </div>

    <div class="team-card group relative bg-white rounded-2xl p-8 flex flex-col items-center text-center shadow-sm hover:shadow-xl transition-all duration-700 hover:-translate-y-2 opacity-0 translate-x-20" data-delay="300">
      <div class="absolute inset-0 rounded-2xl bg-gradient-to-br from-green-light/30 to-green-base/20 opacity-0 group-hover:opacity-100 transition duration-500"></div>
      <img src="./about-us/Pfarrhofer.jpg"
           class="relative w-60 h-60 object-cover mb-5 border-4 border-white shadow-md"
           alt="pfarrhofer">

      <h3 class="relative text-lg font-semibold text-green-darkest">Philip Pfarrhofer</h3>
      <p class="relative text-gray-500 text-sm mt-1">Backend Developer · Deployment</p>
      <a href="mailto:p.pfarrhofer@students.htl-leonding.ac.at" class="relative mt-4 text-sm font-medium text-green-base hover:text-green-darkest transition">Kontakt per Mail</a>
    </div>
  </div>
</div>
