<div class="mx-6 mb-10">
  <div class="sticky-searchbar bg-liquid-glass bg-green-dark/10 ">
    <div class="max-w-5xl mx-auto flex justify-center items-center gap-2">
      <input type="search" placeholder="Mitarbeiter suchen..." class="input-field-frameless max-md:w-full max-md:max-w-none" (input)="onSearch($any($event.target).value)">
      <img class="icon-button-big" (click)="openAddEmployee()" ngSrc="/icons/add-green-dark.png" alt="edit" width="36" height="36">
    </div>
  </div>

    <div class="card-grid">
      @for (e of filteredEmployees ; track e.id) {
        <app-employee-card  [employee]="e" (editEmployee)="openEmpEdit($event)" class=""></app-employee-card>

      }
    </div>

    @if (filteredEmployees.length === 0) {
      <div class="mt-4 text-sm text-center text-gray-500">
        Keine Mitarbeiter gefunden.
      </div>
    }

    @if (isEditMode) {
      <app-employee-edit [employee]="selectedEmployee" (closeEmpEdit)="closeEmpEdit()"></app-employee-edit>
    }@else if(isAddMode){
      <app-employee-add (close)="closeAddEmployee()"></app-employee-add>
    }
</div>
