<div class="flex flex-col overflow-hidden">
  <div class="max-h-[99vh] overflow-auto m-4">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
  <div *ngIf="isEditMode && !isAllowedToEdit">
    <app-shift-view [shiftId]="selectedShift.id" (closeShiftView)="closeShiftEdit()"></app-shift-view>
  </div>
  <div *ngIf="isEditMode && isAllowedToEdit">
    <app-shift-edit [shiftId]="selectedShift.id" (closeShiftEdit)="closeShiftEdit()"></app-shift-edit>
  </div>
  <div *ngIf="isAddMode">
    <app-shift-add (close)="closeAddShift()"></app-shift-add>
  </div>
</div>
