<div class="flex flex-col overflow-hidden">
  <div class=" overflow-auto m-4">
    <full-calendar class="max-h-[90vh] min-h-[80vh]" [options]="calendarOptions"></full-calendar>
  </div>
  @if (isEditMode) {
    @if (isAllowedToEdit) {
      <app-shift-edit [shiftId]="selectedShift.id" (closeShiftEdit)="closeShiftEdit()"></app-shift-edit>
    }@else {
      <app-shift-view [shiftId]="selectedShift.id" (closeShiftView)="closeShiftEdit()"></app-shift-view>
    }
  }@else if (isAddMode){
    <app-shift-add (close)="closeAddShift()"></app-shift-add>
  }
</div>
